/* SLIDER */

.carousel-item {
	padding: 150px 0;
	background-image: linear-gradient(45deg, #fa0, #fc0);
	text-align: center;
}

/* CATEGORY COLUMN */

.min-post {
	font-size: 12px;
}

.min-post-thumbnail {
	width: 48px;
	height: 48px;
	background-color: #aaa;
	margin-right: 10px;
	text-align: center;
}

.min-post-thumbnail:before {
	content: '48x48';
	line-height: 48px;
	font-size: 10px;
}

.post-categories {
	background-image: linear-gradient(to bottom, #eee, #fff, #eee);
	border-bottom: solid 2px #aaa;
}

/* POSTS GRID */

.post-thumbnail {
	height: 200px;
	text-align: center;
	background-color: #ddd;
}

.post-thumbnail:before {
	content: 'THUMBNAIL';
	line-height: 200px;
}

.post-intro {
	font-size: 12px;
}

.post-cat {
	padding: 4px 12px;
	border: solid 1px #888;
	color: #888;
	font-size: 12px;
}
