html {
	height: 100%;
}

body {
	min-height: 100%;
}

.blog-title,
.main-container {
	flex-grow: 1;
}

#newsletter-form,
#newsletter-form input,
#newsletter-form button {
	font-size: 12px;
}

input,
button {
	border-radius: 0 !important;
}
